
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    background: linear-gradient(135deg, #080808, #1a1a1a);
    color: #ffffff;
}

body.light {
    background: linear-gradient(135deg, #f4f4f4, #d6d6d6);
    color: #111;
}

body {
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
    padding: 20px;
}

.glass {
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}

.top-bar {
    margin-bottom: 20px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #03dac5;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 16px;
    border: none;
    background: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.tab.active {
    background: #03dac5;
    color: black;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 22px;
}


.card {
    min-height: 240px;
}

.time-text {
    font-size: 55px;
    text-align: center;
    color: #00eaff;
    margin-bottom: 8px;
    text-shadow: 0 0 10px #00eaff;
}

.sub {
    text-align: center;
    font-size: 16px;
    margin-bottom: 6px;
    opacity: 0.8;
}

.btn-row {
    text-align: center;
    margin-top: 12px;
}

button {
    padding: 10px 15px;
    margin: 4px;
    background: #222;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.input-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
}

.world-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-top: 10px;
}

.world-item {
    padding: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.05);
    text-align: center;
}

.world-item h3 {
    color: #00eaff;
    margin-top: 6px;
}

#weatherResult {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
}
